*{margin: 0px; padding: 0px;}

#container{margin:0px auto;}

#nav{width:444px;height:89px;background:url(../img/nav.jpg) no-repeat 0 0;}
#nav li{list-style:none;float:left;text-indent:-9999px;}
#nav li a{display:block;height:89px;}

#home{width:92px;}
#about{width:101px;}
#portfolio{width:141px;}
#contact{width:110px;}

#home a:hover{background:url(../img/nav.jpg) 0 -89px no-repeat;}
#about a:hover{background:url(../img/nav.jpg) -92px -89px no-repeat;}
#portfolio a:hover{background:url(../img/nav.jpg) -193 -89px no-repeat;}
#contact a:hover{background:url(../img/nav.jpg) -334 -89px no-repeat;}
